In [1]:
#Q =1 Write a programme to accept percentage from the user and display the grade accourding to the following
# criteria
# i am writing the answer without writing full question

In [7]:
# Ans
marks=int(input("enter the marks"))
if marks >90 :
    print("A")
elif marks >80 and marks<=90:
    print("B")
elif marks >=60 and marks<=80:
    print("C")
else :
    print("D")

enter the marks 75

C

In [6]:
#Q=2 Write a programme to accept the cost price of a bike and display the road tax to be paid according 
# to the following criteria
# i am writing the answer without writing full question

In [19]:
# Ans
costprice=int(input("enter the cost price"))
if costprice >1000000:
    print( costprice*15/100)
elif costprice >50000 and costprice <=100000:
    print(costprice*10/100)
else:
    print(costprice*5/100)

enter the cost price 1200000

180000.0

In [10]:
#Q=3 Accept any city from the user and display monuments of that city.
# i am writing the answer without writing full question

In [9]:
# Ans
city=input("enter the city")
if city == "Delhi":
    print("Red Fort")
elif city =="Agra":
    print("Taj Mahal")
elif city=="Jaipur":
    print("Jal Mahal")
else:
    print("no data")

enter the city Jaipur

Jal Mahal

In [11]:
#Q =4 Check how many times a given nuber can be diveded by 3 it is less than or equal to 10.

In [12]:
#ANS
def divide_by_3(number):
    count = 0
    while number > 10:
        number = number / 3
        count += 1
    return count

In [13]:
divide_by_3(45)

2

In [14]:
# Q=5 Why and when to use while loop in python give a detailed description with example.

In [15]:
# Ans when we want to repeat a set till the specified condition is true at tha time we use while loop
#For example we want to write table of 4

In [16]:
n=int(input("enter your number"))
i=1
while i <=10:
    result=n*i
    print(result)
    i=i+1

enter your number 4

4
8
12
16
20
24
28
32
36
40

In [18]:
# Q=6 Use nested while loop to pring 3 different pattern.

In [19]:
#Ans

In [20]:
#Q=7 Reverse a while loop to display numbers from 10 to 1.

In [21]:
# Ans
i=10
while i >=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [22]:
# Q=8 Reverse a for loop to display numbers from 10 to 1.

In [29]:
l=list(range(10,0,-1))
l1=[]
for i in l:
    l1.append(i)
    print(i)

10
9
8
7
6
5
4
3
2
1